@media print {
	body, page[size="A4"] {
		margin: 0;
		box-shadow: 0;
	}
}
.firstBox{
	margin-top: 50px;
	display: inline-block;
	border: 0px solid black;
	width: 31%;
}
.firstBox2{
	margin-top: 50px;
	display: inline-block;
	border: 0px solid black;
	width: 15%;

}
.firstCenter{
	margin-left: 11%;
}
.firstCenter2{
	display: inline-block;
	margin-left: 0.5px;
}
.firstInput{
	width: 64%;
	font-size: 17px;
}
.payInput{
	width: 30%;
}
.payInput2{
	width: 16%;
}
.userinfoInput{
	text-align: center;
	width: 90%;
}
.file1{
	position: absolute;
}
.file2{
	position: absolute;
	right: 36%;
}
.main{
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	background: white;
	width: 21cm;
	height: 29.7cm;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
}
.tooBox{
	border: 1px solid black;
	margin-top: 30px;
	width: 100%;
}
table{
	border: 1px solid black;
	width: 100%;
	text-align: center;
	border-collapse:collapse;
}
th, td{
	border: 1px solid black;
	height: 40px;
}
.imgContener{
	border: 1px solid green;
	flex: 1;
}
.imgStyle{
	border: 1px solid black;
	width: 49.3%;
	height: 270px;
}
.lastYear{
	margin-top: 30px;
	border: 1px solid blue;
	text-align: center;
	font-size: 20px;
}
.lastName1{
	margin-top: 30px;
	text-align: right;
}
.lastName2{
	text-align: right;
}
.lastName3{
	margin-left: 4px;
}
@media screen and (max-width: 600px) {
	.firstBox, .firstBox2{
		margin-top: 50px;
		display: inline-block;
		border: 0px solid black;
		width: 99%;
	}
	.firstCenter{
		margin-left: 17%;
	}
	.firstCenter2{
		display: inline-block;
		margin-left: 8%;
	}
	.firstInput, .payInput, .payInput2{
		width: 98%;
	}

	.main{
		border: 1px solid red;
		display: flex;
		flex-direction: column;
		background: white;
		width: 99%;
		display: block;
		margin: 0 auto;
		margin-bottom: 0.5cm;
	}
	.imgStyle{
		border: 1px solid black;
		width: 48.8%;
		height: 270px;
	}
}
